body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
}

.product-container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.product-image img {
  width: 600px;
  height: 700px;
  border-radius: 10px;
}

.product-details {
  margin-left: 40px;
  flex: 1;
}

h1 {
  font-size: 34px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.rating {
  font-size: 18px;
  color: #ffa41c;
  margin-bottom: 10px;
}

.rating span {
  color: #666;
}

.stock {
  color: #008a00;
  font-weight: bold;
}

.price {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin: 20px 0;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
.description hr {
  margin-bottom: 70px;
}

.add-to-cart {
  margin-top: 100px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: lighter;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: rgb(186, 10, 10);
}

.delivery-info {
  margin: 80px 0;
  border: 2px solid black;
}

.delivery-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 15px;
}
.p-bot {
  border-bottom: 0;
}
.delivery-option img {
  width: 40px;
  height: 40px;
}

.delivery-icon {
  font-size: 24px;
  margin-right: 10px;
}

.delivery-option h4 {
  margin: 0;
  font-size: 18px;
}

.delivery-option p {
  margin: 5px 0 0;
  color: #666;
  font-size: 14px;
}
